In [29]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [4]:
pd.__version__

'2.3.1'

In [6]:
df = pd.read_csv('../data/yellow_tripdata_2021-01.csv', nrows=100)

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('../data/yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [25]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [26]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [27]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [30]:
while True:

    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print(f'inserted another chunk... took {t_end - t_start} seconds')

inserted another chunk... took 4.6313300132751465 seconds
inserted another chunk... took 4.707702159881592 seconds
inserted another chunk... took 4.7692711353302 seconds
inserted another chunk... took 4.742431163787842 seconds
inserted another chunk... took 4.704636096954346 seconds
inserted another chunk... took 4.732234954833984 seconds
inserted another chunk... took 4.646764039993286 seconds
inserted another chunk... took 4.841197967529297 seconds
inserted another chunk... took 4.911600828170776 seconds
inserted another chunk... took 4.916300058364868 seconds
inserted another chunk... took 4.682653903961182 seconds

/var/folders/2h/57gm_spx0fb4hs586xwpd1zc0000gn/T/ipykernel_47153/559126826.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk... took 4.5275890827178955 seconds
inserted another chunk... took 3.001246213912964 seconds

StopIteration: